<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Messages</h1>
    <ul>
      <% messages.forEach((message) => { %>
      <li>
        <strong>User:</strong> <%= message.user %> <br />
        <strong>Text:</strong> <%= message.text %> <br />
        <strong>Date Added:</strong> <%= message.added.toDateString() %> <br />
      </li>
      <% }); %>
    </ul>
    <a href="/new">Add a New Message</a>
  </body>
</html>
